<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- TODO(PRODUCCION): allowBackup desactivado en desarrollo para que Google no restaure
         BDs antiguas al reinstalar. Antes de publicar: decidir si se reactiva y con qué
         reglas de exclusion (backup_rules.xml / data_extraction_rules.xml) -->
    <application
        android:allowBackup="false"
        android:name=".GestorProApplication"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.GestorPro">
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:theme="@style/Theme.GestorPro">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <!-- Deep link de vinculación individual (Vía B).
                 Estructura preparada para evolucionar a App Links HTTPS. -->
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="vincular"
                    android:scheme="gestorpro" />
            </intent-filter>
        </activity>
    </application>

</manifest>